src/main/resources/cs-export-data_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://certificateservices.org/xsd/csexport_data_1_0"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
		   elementFormDefault="qualified" targetNamespace="http://certificateservices.org/xsd/csexport_data_1_0"
		   version="1.2">

	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
			   schemaLocation="xmldsig-core-schema.xsd" />

	<xs:simpleType name="uuid">
		<xs:restriction base="xs:string">
			<xs:length value="36" fixed="true" />
			<xs:pattern
					value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OrganisationName">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[a-zA-Z0-9_\-]+"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="notemptystring">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>


	<xs:element name="CSExport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="organisations" minOccurs="0" maxOccurs="1" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="organisation" minOccurs="0" maxOccurs="unbounded" type="tns:Organisation"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tokenTypes" minOccurs="0" maxOccurs="1" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tokenType" minOccurs="0" maxOccurs="unbounded" type="tns:TokenType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="version" type="tns:notemptystring"
						  use="required" />
			<xs:attribute name="ID" type="tns:uuid" use="required" />
			<xs:attribute name="timeStamp" type="xs:dateTime" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="TokenTypeOrganisation">
		<xs:sequence>
			<xs:element name="shortName" minOccurs="1" maxOccurs="1" type="tns:OrganisationName"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TokenContainerConstraint" >
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AllowedCSRSignatureAlgorithm" >
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="RelatedTokenAttribute">
		<xs:sequence>
			<xs:element name="key" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-z0-9_\-\.]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="displayName" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="storeInCredentialStore" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DomainNameRestriction">
		<xs:sequence>
			<xs:element name="domainNameValue" minOccurs="1" maxOccurs="1" type="xs:string" />
			<xs:element name="allowSubDomains" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="allowWildCard" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConditionalListAvailableList">
		<xs:sequence>
			<xs:element name="value" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="key" type="tns:notemptystring" use="required" />
	</xs:complexType>

	<xs:complexType name="ConditionalListInListMapping">
		<xs:sequence>
			<xs:element name="key" minOccurs="1" maxOccurs="1" type="xs:string" />
			<xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConditionalList">
		<xs:sequence>
			<xs:element name="availableLists" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
					  <xs:element name="AvailableList" minOccurs="0" maxOccurs="unbounded" type="tns:ConditionalListAvailableList" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="inListMappings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InListMapping" minOccurs="0" maxOccurs="unbounded" type="tns:ConditionalListInListMapping" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FieldConstraint">
		<xs:sequence>
			<xs:element name="key" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[a-z0-9_\-\.]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="displayName" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="type" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="required" minOccurs="0" maxOccurs="1" type="xs:boolean" default="false"/>
			<xs:element name="minLength" minOccurs="1" maxOccurs="1" type="xs:integer"/>
			<xs:element name="maxLength" minOccurs="1" maxOccurs="1" type="xs:integer"/>
			<xs:element name="minNumberOfFields" minOccurs="1" maxOccurs="1" type="xs:integer"/>
			<xs:element name="maxNumberOfFields" minOccurs="1" maxOccurs="1" type="xs:integer"/>
			<xs:element name="availableValues" minOccurs="0" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="availableValue" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="domainNameRestrictions" minOccurs="0" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="domainNameRestriction" minOccurs="0" maxOccurs="unbounded" type="tns:DomainNameRestriction"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="customRegexp" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="customLabel" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="customHelpText" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="isCustomTextResourceKey" minOccurs="0" maxOccurs="1" type="xs:boolean" default="false"/>
			<xs:element name="relatedTokenAttributes" minOccurs="1" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="relatedTokenAttribute" minOccurs="0" maxOccurs="unbounded" type="tns:RelatedTokenAttribute"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="allowOnlyTrustedData" minOccurs="0" maxOccurs="1" type="xs:boolean" default="false"/>
			<xs:element name="relatedField" minOccurs="0" maxOccurs="1" type="tns:notemptystring" />
			<xs:element name="availableConditionalList" minOccurs="0" maxOccurs="1" type="tns:ConditionalList" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CredentialConstraint">
		<xs:sequence>
			<xs:element name="credentialType" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="credentialSubType" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="subTypeDisplayName" minOccurs="0" maxOccurs="1" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TokenContainerInfoEx">
		<xs:sequence>
			<xs:element name="type" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="resourceKey" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="contentType" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="fileNameSuffix" minOccurs="0" maxOccurs="1" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TokenTypeLifeCycleRule">
		<xs:sequence>
			<xs:element name="tokenEvent" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="tokenClasses" minOccurs="1" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tokenClass" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="tokenAction" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="credentialSubTypes" minOccurs="1" maxOccurs="1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="credentialSubType" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="enabled" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ValidityRestriction">
		<xs:sequence>
			<xs:element name="tokenClass" minOccurs="1" maxOccurs="1" type="xs:string"/>
			<xs:element name="minValidityMS" minOccurs="1" maxOccurs="1" type="xs:integer"/>
			<xs:element name="maxValidityMS" minOccurs="1" maxOccurs="1" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TokenType">
		<xs:sequence>
			<xs:element name="name" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
						<xs:pattern value="[a-z0-9_\-]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="displayName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="credentialProviderName" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="uniqueIdPrefix" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fieldUsedAsUserUniqueId" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
						<xs:pattern value="[a-z0-9_\-\.]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fieldUsedAsUserDisplayName" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
						<xs:pattern value="[a-z0-9_\-\.]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="organisations" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="organisation" minOccurs="0" maxOccurs="unbounded"
									type="tns:TokenTypeOrganisation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="allOrganisations" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="useInGenerateTab" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="isMonitoredByDefault" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="useDepartments" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="useExpireDateField" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="useValidFromDateField" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="editableFields" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="isSuspendable" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
			<xs:element name="applyLifeCycleRulesInManualGeneration" minOccurs="0" maxOccurs="1" type="xs:boolean"/>

			<xs:element name="fieldConstraints" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fieldConstraint" minOccurs="0" maxOccurs="unbounded" type="tns:FieldConstraint"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="credentialConstraints" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="credentialConstraint" minOccurs="0" maxOccurs="unbounded" type="tns:CredentialConstraint"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="keySpecConstraints" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="keySpecConstraint" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="tokenContainerConstraints" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tokenContainerConstraint" minOccurs="0" maxOccurs="unbounded" type="tns:TokenContainerConstraint"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="allowedCSRSignatureAlgorithms" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="allowedCSRSignatureAlgorithm" minOccurs="0" maxOccurs="unbounded" type="tns:AllowedCSRSignatureAlgorithm"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="certificateChainOption" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="keystoreTypes" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="keystoreType" minOccurs="0" maxOccurs="unbounded" type="tns:TokenContainerInfoEx"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="tokenTypeLifeCycleRules" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tokenTypeLifeCycleRule" minOccurs="0" maxOccurs="unbounded" type="tns:TokenTypeLifeCycleRule"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="validityRestrictions" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="validityRestriction" minOccurs="0" maxOccurs="unbounded" type="tns:ValidityRestriction"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DepartmentAttribute">
		<xs:sequence>
			<xs:element name="key" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
						<xs:pattern value="[a-z0-9_\-\.]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="value" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Department">
		<xs:sequence>
			<xs:element name="name" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="attributes" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="attribute" minOccurs="0" maxOccurs="unbounded" type="tns:DepartmentAttribute"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Organisation">
		<xs:sequence>
			<xs:element name="shortName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="15"/>
						<xs:pattern value="[a-z0-9_\-]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="displayName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="obfuscatedName"
						type="tns:notemptystring" />
			<xs:element name="description" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="matchAdminWith"
						type="xs:string" />
			<xs:element name="issuerDistinguishedName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1"
						name="useDepartments" type="xs:boolean" default="false" />
			<xs:element name="departments" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="department" minOccurs="0" maxOccurs="unbounded" type="tns:Department"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>