src/main/resources/pkimessages_schema1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://certificateservices.org/xsd/pkimessages1_0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	elementFormDefault="qualified" targetNamespace="http://certificateservices.org/xsd/pkimessages1_0"
	version="1.0">

	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd" />

	<xs:simpleType name="uuid">
		<xs:restriction base="xs:string">
			<xs:length value="36" fixed="true" />
			<xs:pattern
				value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="notemptystring">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="PKIMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="name"
					type="tns:notemptystring" />
				<xs:element minOccurs="1" maxOccurs="1" name="sourceId"
					type="tns:notemptystring" />
				<xs:element minOccurs="1" maxOccurs="1" name="destinationId"
					type="tns:notemptystring" />
				<xs:element minOccurs="1" maxOccurs="1" name="organisation"
				type="tns:notemptystring" />
				<xs:element name="payload" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:choice>
							<xs:element name="issueTokenCredentialsRequest" type="tns:IssueTokenCredentialsRequest" />
							<xs:element name="issueTokenCredentialsResponse" type="tns:IssueTokenCredentialsResponse" />
							<xs:element name="changeCredentialStatusRequest" type="tns:ChangeCredentialStatusRequest" />
							<xs:element name="changeCredentialStatusResponse"
								type="tns:ChangeCredentialStatusResponse" />
							<xs:element name="getCredentialRequest" type="tns:GetCredentialRequest" />
							<xs:element name="getCredentialResponse" type="tns:GetCredentialResponse" />
							<xs:element name="getCredentialStatusListRequest"
								type="tns:GetCredentialStatusListRequest" />
							<xs:element name="getCredentialStatusListResponse"
								type="tns:GetCredentialStatusListResponse" />
							<xs:element name="getIssuerCredentialsRequest" type="tns:GetIssuerCredentialsRequest" />
							<xs:element name="getIssuerCredentialsResponse" type="tns:GetIssuerCredentialsResponse" />
							<xs:element name="isIssuerRequest" type="tns:IsIssuerRequest" />
							<xs:element name="isIssuerResponse" type="tns:IsIssuerResponse" />
							<xs:element name="issueCredentialStatusListRequest"
								type="tns:IssueCredentialStatusListRequest" />
							<xs:element name="issueCredentialStatusListResponse"
								type="tns:IssueCredentialStatusListResponse" />
							<xs:element name="removeCredentialRequest" type="tns:RemoveCredentialRequest" />
							<xs:element name="removeCredentialResponse" type="tns:RemoveCredentialResponse" />
							<xs:element name="fetchHardTokenDataRequest" type="tns:FetchHardTokenDataRequest" />
							<xs:element name="fetchHardTokenDataResponse" type="tns:FetchHardTokenDataResponse" />
							<xs:element name="storeHardTokenDataRequest" type="tns:StoreHardTokenDataRequest" />
							<xs:element name="storeHardTokenDataResponse" type="tns:StoreHardTokenDataResponse" />
							<xs:element name="failureResponse" type="tns:PKIResponse" />
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="version" type="tns:notemptystring"
				use="required" />
			<xs:attribute name="ID" type="tns:uuid" use="required" />
			<xs:attribute name="timeStamp" type="xs:dateTime" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="PKIRequest" abstract="true">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="relatedMessageId"
				type="tns:uuid" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PKIResponse">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="inResponseTo"
				type="tns:uuid" />
			<xs:element minOccurs="1" maxOccurs="1" name="status"
				type="tns:RequestStatus" />
			<xs:element minOccurs="0" maxOccurs="1" name="failureMessage"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="RequestStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCCESS" />
			<xs:enumeration value="ILLEGALARGUMENT" />
			<xs:enumeration value="ERROR" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="IssueTokenCredentialsRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="tokenRequest"
						type="tns:TokenRequest" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TokenRequest">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="credentialRequests">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="1"
							name="credentialRequest" type="tns:CredentialRequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="user"
				type="tns:notemptystring" />
			<xs:element minOccurs="0" maxOccurs="1" name="userDisplayName"
				type="tns:notemptystring" />				
			<xs:element minOccurs="0" maxOccurs="1" name="relatedTokenId"
				type="xs:long" />
			<xs:element minOccurs="0" maxOccurs="1" name="serialNumber"
				type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="tokenContainer"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="tokenType"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="tokenClass"
				type="tns:notemptystring" />
			<xs:element minOccurs="0" maxOccurs="1" name="attributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute"
							type="tns:Attribute" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="description"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="revokePreviousTokens"
				default="false" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CredentialRequest">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="credentialRequestId"
				type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="credentialType"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="credentialSubType"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="x509RequestType"
				type="tns:notemptystring" />
			<xs:element minOccurs="0" maxOccurs="1" name="attributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute"
							type="tns:Attribute" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1"
				name="credentialRequestData" type="xs:base64Binary" />
			<xs:element minOccurs="0" maxOccurs="1" name="description"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="requestedExpireDate"
				type="xs:dateTime" />
			<xs:element minOccurs="0" maxOccurs="1"
				name="requestedValidFromDate" type="xs:dateTime" />
			<xs:element minOccurs="0" maxOccurs="1" name="includeIssuerCredentials"
				default="false" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Attribute">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="key"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssueTokenCredentialsResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="tokenRequest"
						type="tns:TokenRequest" />
					<xs:element minOccurs="1" maxOccurs="1" name="credentials">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="1"
									name="credential" type="tns:Credential" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="1" name="revokedCredentials">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="1"
									name="credential" type="tns:Credential" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Credential">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="credentialRequestId"
				type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="uniqueId"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="displayName"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="serialNumber"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
				type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="status"
				type="xs:int" />
			<xs:element minOccurs="1" maxOccurs="1" name="credentialType"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="credentialSubType"
				type="tns:notemptystring" />
			<xs:element minOccurs="0" maxOccurs="1" name="attributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute"
							type="tns:Attribute" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="usages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="usage" type="tns:notemptystring"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="credentialData"
				type="xs:base64Binary" />
			<xs:element minOccurs="0" name="description" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="issueDate"
				type="xs:dateTime" />
			<xs:element minOccurs="1" maxOccurs="1" name="expireDate"
				type="xs:dateTime" />
			<xs:element minOccurs="1" maxOccurs="1" name="validFromDate"
				type="xs:dateTime" />
			<xs:element minOccurs="0" maxOccurs="1" name="revocationDate"
				type="xs:dateTime" />
			<xs:element minOccurs="0" maxOccurs="1"
				name="revocationInformation" type="xs:string" />
			<xs:element maxOccurs="1" minOccurs="0"
						name="issuerCredential" type="tns:Credential" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ChangeCredentialStatusRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="serialNumber"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="newCredentialStatus" type="xs:int" />
					<xs:element minOccurs="1" maxOccurs="1" name="reasonInformation"
						type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChangeCredentialStatusResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="serialNumber"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="credentialStatus"
						type="xs:int" />
					<xs:element minOccurs="0" maxOccurs="1" name="revocationDate"
						type="xs:dateTime" />
					<xs:element minOccurs="0" maxOccurs="1" name="reasonInformation"
						type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetCredentialRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="credentialSubType"
				        type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="serialNumber"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetCredentialResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="credential"
						type="tns:Credential" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetCredentialStatusListRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="serialNumber"
						type="xs:long" />
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="credentialStatusListType" type="tns:notemptystring" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetCredentialStatusListResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1"
						name="credentialStatusList" type="tns:CredentialStatusList" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CredentialStatusList">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1"
				name="credentialStatusListType" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="credentialType"
				type="tns:notemptystring" />
			<xs:element minOccurs="1" maxOccurs="1" name="serialNumber"
				type="xs:long" />
			<xs:element minOccurs="1" maxOccurs="1" name="listData"
				type="xs:base64Binary" />
			<xs:element minOccurs="0" maxOccurs="1" name="description"
				type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="issueDate"
				type="xs:dateTime" />
			<xs:element minOccurs="1" maxOccurs="1" name="expireDate"
				type="xs:dateTime" />
			<xs:element minOccurs="1" maxOccurs="1" name="validFromDate"
				type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetIssuerCredentialsRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetIssuerCredentialsResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="credential"
						type="tns:Credential" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsIssuerRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IsIssuerResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element name="isIssuer" type="xs:boolean" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IssueCredentialStatusListRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="credentialStatusListType" type="xs:string" />
					<xs:element name="force" type="xs:boolean" minOccurs="0"
						maxOccurs="1" default="false" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="requestedValidFromDate" type="xs:dateTime" />
					<xs:element minOccurs="0" maxOccurs="1"
						name="requestedNotAfterDate" type="xs:dateTime" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IssueCredentialStatusListResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1"
						name="credentialStatusList" type="tns:CredentialStatusList" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RemoveCredentialRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="issuerId"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="serialNumber"
						type="tns:notemptystring" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RemoveCredentialResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FetchHardTokenDataRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="tokenSerial"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="relatedCredentialSerialNumber" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="relatedCredentialIssuerId" type="xs:string" />
					<xs:element minOccurs="1" maxOccurs="1" name="adminCredential"
						type="tns:Credential" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FetchHardTokenDataResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="tokenSerial"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="encryptedData"
						type="xs:base64Binary" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StoreHardTokenDataRequest">
		<xs:complexContent>
			<xs:extension base="tns:PKIRequest">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="tokenSerial"
						type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="relatedCredentialSerialNumber" type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1"
						name="relatedCredentialIssuerId" type="tns:notemptystring" />
					<xs:element minOccurs="1" maxOccurs="1" name="encryptedData"
						type="xs:base64Binary" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StoreHardTokenDataResponse">
		<xs:complexContent>
			<xs:extension base="tns:PKIResponse">
				<xs:sequence />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>